@{
    ViewBag.Title = "Register As...";
}
<h2 class="text-center">@ViewBag.Title</h2>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">
    </body>
<div class="content-wrapper">
        <div class="panel panel-default col-md-3 " style="opacity: .9">
            <div class="panel-heading">
                <h3 class="panel-title">Student</h3>
            </div>
            <div class="panel-body" style="height: 300px">
                <p>Student users must be referred by a teacher. They will have the opportunity to watch educational videos, plan their story idea with pictures and voice recording, and then write their story. Once their story is finished, the student may submit it for at least two reviewer users to review it.</p>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RegisterStudent", "Account")' ;return false; "><i class=" glyphicon glyphicon-plus"></i>&nbsp;Register</button>
            </div>

        </div>

        <div class="panel panel-default col-md-3 col-md-push-1" style="opacity: .9">
            <div class="panel-heading">
                <h3 class="panel-title">Teacher</h3>
            </div>
            <div class="panel-body" style="height: 300px">
                <p>Teacher users may register and then submit a list of students for site access. Once complete, the teacher may access the stories submitted by their students as well as reviewer feedback and scores.</p>
                <br><br><br><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RegisterTeacher", "Account")' ;return false; "><i class=" glyphicon glyphicon-plus"></i>&nbsp;Register</button>

            </div>

        </div>

        <div class="panel panel-default col-md-3 col-md-push-2" style="opacity: .9">
            <div class="panel-heading">
                <h3 class="panel-title">Reviewer</h3>
            </div>
            <div class="panel-body" style="height: 300px">
                <p>Reviewer users will recieve a short training video and then have the option to select student stories for review. Once a story is reviewed by two reviewers, the reviewers will be able to discuss any score discrepancies and agree on a final score.</p>
                <br><button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RegisterReviewer", "Account")' ;return false; "><i class=" glyphicon glyphicon-plus"></i>&nbsp;Register</button>

            </div>

        </div>
    </div>
</div>
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
