@*@if (Request.IsAuthenticated) {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    } else {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
@*Just commenting this out for now, because it doesn't take you to the users home page. 
    If you're already logged in, there's no way to get to your home page, and i wasn;t able to fix that before final*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {area = "Account"},FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Logged in as: " + User.Identity.Name, "Manage", "Account", new {area = "Account"}, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "Account" }, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "Account" }, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}