@model Proto2.Areas.Teacher.Models.AssignmentInputView
@{
    ViewBag.Title = "Current Assignment";
}

<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

</body>
<p></p>
<div class="content-wrapper">
    <div class="pull-right">
        <p></p><p></p>
        <div class="content-wrapper" style="align-content:center; background-color: whitesmoke; padding-right:50px; padding-left:50px; padding-bottom:35px; padding-top:50px ;opacity: 0.90; border-radius: 7px;">
            
            <a onclick="location.href='@Url.Action("Train", "StudentHome", new {Id = Model.Id})' ;return false; ">Watch strategy video</a><p></p>
            <a onclick="location.href='@Url.Action("BrainStorm", "StudentHome", new {Id = Model.Id})' ;return false; ">Brainstorming</a><p></p>
            <a onclick="location.href='@Url.Action("Write", "StudentHome", new {Id = Model.Id})' ;return false; ">Writing</a><p></p>
            <a onclick="location.href='@Url.Action("ViewAssignments", "StudentHome", new {classID = Model.CourseId})' ;return false; ">Course home</a><p></p>
        </div>
    </div>
</div>
<p></p>
<div class="content-wrapper">
    <div>
        <div class="row">
            <div class="col-xs-8">
                <p></p><p></p>
                <div class="jumbotron" style="opacity: .90; text-align:center; margin:auto">
                    <p></p>
                    <center><h2>@Model.AssignmentName</h2></center>
                    <center><h3>@Model.Description</h3></center>
                </div>
            </div>
        </div>
    </div>
</div>