@model Proto2.Areas.Student.Models.SubmitDetails
<!DOCTYPE html>
@{
    ViewBag.Title = "Submitted Assignment";
}

<html>
<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">

    <div class="content-wrapper">
        <div>
            <div class="row">
                <div class="col-xs-8"><p></p>
                    <div class="jumbotron" style="opacity: .90; margin:auto">
                        <center><h3>@Model.AssignmentName</h3></center>
                        <center><h4>@Model.Description</h4></center>
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><center><button type="button" class="btn btn-lg btn-default" onclick="location.href='@Url.Action("StoryReview", "StudentHome", new {submissionId = Model.SubmissionId})' ;return false; ">Read Reviews</button></center></td>

                                </tr>
                            </tbody>
                        </table>
                        <center><h4>@Model.StoryTitle</h4></center><p></p>
                        <div>
                             <center><div style="width:650px; height:225px; overflow: scroll">@Model.Story</div></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>