@model Proto2.Areas.Teacher.Models.AssignmentInputView
<!DOCTYPE html>

@{
    ViewBag.Title = "Strategy Videos";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="
        background-image: url(/Images/letters2.50.JPG);
        background-repeat: no-repeat;
        background-size: cover">
    <p></p>
    <div class="content-wrapper">
        <div class="pull-right">
            <p></p><p></p>
            <div class="content-wrapper" style="align-content:center; background-color: whitesmoke; padding-right:50px; padding-left:50px; padding-bottom:45px; padding-top:50px ;opacity: 0.90; border-radius: 7px;">

                <a onclick="location.href='@Url.Action("BrainStorm", "StudentHome", new {Id = Model.Id})' ;return false; ">Brainstorming</a><p></p>
                <a onclick="location.href='@Url.Action("Write", "StudentHome", new {Id = Model.Id})' ;return false; ">Writing</a><p></p>
                <a onclick="location.href='@Url.Action("ViewAssignments", "StudentHome", new {classID = Model.CourseId})' ;return false; ">Course home</a><p></p>
            </div>
        </div>
    </div>
    <p></p>
    <div class="content-wrapper">
        <div>
            <div class="row">
            <div class="col-xs-9">
                <p></p><p></p>
                <div class="jumbotron" style="opacity: .90; margin:auto; padding-bottom:250px">
                    <div class="pull-right">
                        <asp:label runat="server">
                            <iframe width="500" height="300" src="http://www.youtube.com/embed/@Model.Link?rel=0&amp;showinfo=0" frameborder="0"></iframe>
                            <br>
                        </asp:label>
                    </div>
                    <h2><b>@Model.AssignmentName</b></h2>
                    <text><b>Description:</b><br />@Model.Description</text><br>

                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>