@model List<Proto.Areas.SystemAdmin.Models.ReviewerView>
@{
    ViewBag.Title = "Reviewers";
}


<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron">
            <h2>No Reviewers Currently Enrolled </h2>
        </div>

    }
    @if (Model.Any())
    {

        <div>
            <div class="pull-right">
                <button type="button" class="btn btn-success pull-right" onclick="location.href='@Url.Action("EditReviewerVideos", "SystemAdminHome")';return false;"><i class="glyphicon glyphicon-plus"></i>&nbsp;Edit Videos</button>
            </div>
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Reviews</th>
                        <th>Confirmed</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reviewer in Model)
                    {
                        <tr>
                            <td><strong>@reviewer.Name</strong></td>
                            <td>@reviewer.Email</td>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("ViewReviewsByReviewers", "SystemAdminHome", new{id = new Guid()} )' ;return false; ">Reviews</button></p></td>
                            <td>@reviewer.Confirmed</td>
                            <td><a style="color:red">Delete</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>
