@model List<Proto.Areas.SystemAdmin.Models.TeacherView>

@{
    ViewBag.Title = "Teachers";
}

<body style="
        background-image: url(http://encs.vancouver.wsu.edu/~k.gonzalez/grey.jpg);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Teachers Currently Enrolled </h2>
        </div>

    }
    @if (Model.Any())
    {

        <div class="jumbotron" style="opacity: .90">
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Students</th>
                        <th>Confirmed</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model)
                    {
                        <tr>
                            <td><strong>@teacher.Name</strong></td>
                            <td>@teacher.Email</td>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("ViewStudentsByTeacher", "SystemAdminHome", new{id = new Guid()} )' ;return false; ">Students</button></p></td>
                            <td>@teacher.Confirmed</td>
                            <td><a style="color:red">Delete</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>

