@model List<WriteItUp2.Areas.Teacher.Models.ReviewView>

@{
    ViewBag.Title = "Reviews";
}

<body style="
        background-image: url(/Images/grey.jpg);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Reviews made by this Reviewer. </h2>
        </div>

    }
    @if (Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Submission</th>
                        <th>Plot Score</th>
                        <th>Character Score</th>
                        <th>Setting Score</th>
                        <th>Comments</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var submission in Model)
                    {
                        <tr>
                            <td><p><button type="button" class="btn btn-sm btn-default" onclick="location.href='@Url.Action("ViewStoriesFromReview", "SystemAdminHome" ,new {sid = submission.SubmitId} )' ;return false; ">Submission</button></p></td>    
                            <td>@submission.ScorePlot</td>
                            <td>@submission.ScoreCharacter</td>
                            <td>@submission.ScoreSetting</td>
                            <td>@submission.Comments</td>
                            <td><p class="text-right"><button type="button" class="btn btn-xs btn-danger confirm-terminate" data-toggle="modal" data-target="#terminateUserModal" data-code="@submission.Id"><i class="glyphicon glyphicon-remove"></i></button></p></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>

<div class="modal fade" id="terminateUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><strong>Are you sure?</strong></h4>
            </div>
            <div class="modal-body">
                <div class="hide" id="code"></div>
                <div class="hide" id="terminateLink">@Url.Action("DeleteReview", "SystemAdminHome")</div>
                <p>
                    This will remove the review and allow other reviews to be done on the assignment.
                    @*<span id="userName"></span> will no longer be able to login or interact with the venue.*@
                </p>
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    <button type="button" class="btn btn-danger terminate-user">Yes, remove teacher.</button>
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript">
        $(document).on("click", ".confirm-terminate", function () {
            var code = $(this).data('code');
            $(".modal-body #code").text(code);
            return false;
        });

        $(document).on("click", ".terminate-user", function () {
            var code = $(".modal-body #code").text();
            var url = $(".modal-body #terminateLink").text();
            window.location.href = url + '?id=' + code;
            return false;
        });
    </script>
}
