@model List<Proto2.Areas.SystemAdmin.Models.StudentView>

@{
    ViewBag.Title = "Teacher's Students";
}

<body style="
        background-image: url(/Images/grey.jpg);
        background-repeat: no-repeat;
        background-size: cover">
</body>
<div class="content-wrapper">

    @if (!Model.Any())
    {
        <div class="jumbotron" style="opacity: .90">
            <h2>No Students associated with this teacher. </h2>
        </div>

    }
    @if (Model.Any())
    {

        <div class="jumbotron" style="opacity:.90">
            <h2>@ViewBag.Title</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Teacher</th>
                        <th>Stories</th>
                        <th>Confirmed</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td><strong>@student.Name</strong></td>
                            <td>@student.Email</td>
                            <td>@student.Teacher</td>
                            <td>[ViewButton]</td>
                            <td>@student.Confirmed</td>
                            <td>[deleteButton]</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
</div>